@font-face {
    font-family: 'distilleryStrong';
    src: url('fonts/distilleryStrong.ttf') format('truetype');
}

* {
    font-family: 'distilleryStrong', Arial, sans-serif;
    background-color: #aeaeac;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav #logo {
        height: 30px; /* Imposta l'altezza desiderata */
        width: auto; /* Lascia che la larghezza si adatti proporzionalmente */
        margin-right: 20px; /* Aggiungi margine destro per separare l'immagine dagli altri link */
    }

    nav a {
        color: #d0d0d0;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }

        nav a:hover {
            color: #d0d0d0;
        }

#main-content {
    padding: 2rem;
    align-content: center;
    align-self: center;
    align-items: center;
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 100px;
    width: auto;
}

form {
    max-width: 600px;
    margin: auto;
}

    form label {
        display: block;
        margin-top: 1rem;
    }

    form input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        background-color: #fff;
    }

    form button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }

        form button:hover {
            background-color: #555;
        }

.tabella {
    margin: 20px;
}

.tabella table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabella th, .tabella td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #333;
    color: #333;
}

.tabella thead {
    background-color: #000000;
    color: #ffffff;
}

.tabella tbody tr:nth-child(even) {
    background-color: #333;
    color: #333;
}

.tabella tbody tr:nth-child(odd) {
    background-color: #333;
    color: #333;
}

.tabella tbody tr:hover {
    background-color: #555555;
    cursor: pointer;
}

.tabella tbody td {
    border: 1px solid #333333;
}


footer {
    background-color: #333;
    color: #aeaeac;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

    footer p {
        margin: 0.5rem 0;
        background-color: #333;
    }

    footer a {
        color: #aeaeac;
        text-decoration: none;
        margin: 0 0.5rem;
        background-color: #333;
    }

        footer a:hover {
            text-decoration: underline;
            background-color: #555;
            color: #aeaeac;
        }

textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        margin-bottom: 0.5rem;
    }

        ul li a {
            color: #333;
            text-decoration: none;
        }

            ul li a:hover {
                text-decoration: underline;
            }
